<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperMarket.MvcWebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SuperMarket.MvcWebUI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                </div>
                <div class="row justify-content-end">
                    <div class="col-4">
                        <a type="button"
                           asp-controller="Auth"
                           asp-action="Logout"
                           class="btn btn-xs btn-outline-warning">
                            Çıkış
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid" style="margin-top: 80px">

        <div class="row">

            <div class="col-2" style="margin-left: 15px;display: flex; flex-direction: column; text-align: center">
                <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Index" style="text-align: left">Ürün Listesi</a>
                <a class="navbar-brand" asp-area="" asp-controller="Basket" asp-action="Index" style="text-align: left">Sepet</a>
            </div>
            <div class="col-9">

                <main role="main" class="pb-4">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <div class="modal fade" id="MyActionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="ActionModalBody" class="modal-body ">
                    s
                </div>
                <div class="modal-footer">
                    <a id="MyActionButton" type="button" class="btn btn-success text-white">Düzelt </a>
                    <a id="MyModalDismissButton" type="button" class="btn btn-warning text-white" data-dismiss="modal"> Kaydet</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SuperMarket.MvcWebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>