@model UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/mylib/login.css">
</head>
<body>

    <main id="main-holder">
        @*<h1>@ViewBag.ResultMessages </h1>
            <h1>@ViewBag.ResultStatus </h1>
            <p>@ViewBag.token </p>*@
        <h1 id="login-header">Giriş</h1>
        <form id="login-form" asp-controller="Auth" asp-action="Login">
            <label style="  
                                      background-color: antiquewhite;
                                      font-weight: bold;"
                   >Not:Kolay giriş olması için value değerleri yazılmıştır.</label>
            <input type="text" asp-for="User.UserName" value="dream.b1" class="login-form-field" placeholder="Kullanıcı Adı">
            <input type="password" asp-for="User.Password" value="1" class="login-form-field" placeholder="Parola">
            <button type="submit" id="login-form-submit">Giriş</button>
        </form>

    </main>


</body>
</html>