@using SuperMarket.MvcWebUI.Controllers
@using SuperMarket.Entities.Concrete
@model ProductViewModel






<form asp-controller="Product" asp-action="AddProduct">
    @*<h1>  @ViewBag.ResultMessages</h1>*@
    <label>Ürün Ad:</label><br>
    <input asp-for="Product.ProductName"  type="text"><br>

    <label>Kategori:</label><br>
    <input asp-for="Product.Category" type="text"><br><br>

    <label>Birim:</label><br>
    <input asp-for="Product.QuantityPerUnit" type="text"><br><br>

    <label>Fiyat:</label><br>
    <input asp-for="Product.UnitPrice" type="number"><br><br>

    <label>Stok Adedi :</label><br>
    <input asp-for="Product.StockAmount" type="number"><br><br>

    <button id="addProduct" onclick="added()" class="btn btn-primary" type="submit">
        Kaydet
    </button>
</form>
@*for="lname"*@
